body, html {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

.main-header {
    font-size: 25px;
    text-align: center;
    min-height: 200px;
}

.file-selection {
    text-align: center;
}

.file-button {
    align-self: center;
    min-width: 200px;
    min-height: 50px;
    margin: 10px 10px;
}

.start-button {
    align-self: center;
    min-height: 25px;
    min-width: 200px;
    margin-top: 20px;
}



